@keyframes twinkling {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes glow {
  0% {
    text-shadow: 2px 2px 5px #2c75ff, 2px 2px 10px #d41404;
  }
  50% {
    text-shadow: 5px 5px 20px #2c75ff, 5px 5px 30px #d41404;
  }
  100% {
    text-shadow: 2px 2px 5px #2c75ff, 2px 2px 10px #d41404;
  }
}

@keyframes moveGalaxy {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.home {
  height: 100vh;
  background-color: #000000;
  background-image: radial-gradient(circle, #b2f2ff 1%, transparent 40%),
    radial-gradient(circle, #2c75ff 2%, transparent 30%),
    radial-gradient(circle, #d41404 3%, transparent 25%),
    url("../img/stardust.png");
  background-size: auto, auto, auto, repeat;
  animation: moveGalaxy 20s infinite linear;
  color: white;
  font-family: "Arial", sans-serif;
  position: relative;
  overflow: hidden;
}
.logoCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoCont img {
  width: 14%;
  animation: logoZoom 2s infinite alternate;
}

@keyframes logoZoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 5px #2c75ff, 2px 2px 10px #d41404;
  animation: glow 2s infinite ease-in-out;
  z-index: 1;
}
/* /........................................................................./ */
.link {
}

.link_vehicles {
  max-width: 18.5%;
}

.card-container {
  height: 65vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.card img {
  width: 300px;
  height: 300px;
}

.card.characters:hover {
  transform: scale(1.1);
  background-color: #80acff;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
}
.card.characters {
  background-color: #333;
  width: 90%;
  height: 100%;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: transform 0.2s;
  cursor: pointer;
}

.card.planets:hover {
  transform: scale(1.1);
  background-color: #dfc473;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
}
.card.planets {
  background-color: #333;
  width: 90%;
  height: 100%;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: transform 0.2s;
  cursor: pointer;
}

.card.starships:hover {
  transform: scale(1.1);
  background-color: #a9a9a9;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
}
.card.starships {
  background-color: #333;
  width: 90%;
  height: 100%;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: transform 0.2s;
  cursor: pointer;
}

.card.vehicles:hover {
  transform: scale(1.1);
  background-color: #f3774a;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
}
.card.vehicles {
  background-color: #333;
  width: 80%;
  height: 100%;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: transform 0.2s;
  cursor: pointer;
}

.card div {
  margin-top: 10px;
}

.card .description {
  font-size: 1rem;
  color: #d3d3d3;
  margin-top: 5px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
